<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Polls</h1>
        <ul class="list-group">
            {% for poll in polls %}
                <li class="list-group-item">
                    <strong>{{ poll.user.user_name }}:</strong> <a href="{% url 'polls:poll_detail' poll.id %}">{{ poll.question }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
